.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    padding: 0 100px;
    &__left-block {
        display: flex;
        justify-content: space-between;
    }
    &__logo {
        max-width: 170px;
        text-align: center;
        img {
            width: 52%;
        }
    }
}